<div class="header clearfix">
    <a href="{% url 'mainapp:index' %}" class="logo"></a>
    <ul class="menu">
        <li>
            <a href="{% url 'mainapp:index' %}"
               class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">домой</a>
        </li>
        <li>
            <a href="{% url 'mainapp:products' %}"
               class="{% if request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'category' %}active{% endif %}">продукты</a>
        </li>
        <li><a href="{% url 'mainapp:contacts' %}"
               class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">контакты</a>
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth:update' user.pk %}">{{ user.username }}</a></li>
                <li><a href="{% url 'auth:logout' %}">выйти</a></li>
                {% if user.is_superuser %}
                    <li><a href="{% url 'adminapp:users_read' %}">Админка</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'auth:login' %}">войти</a></li>
            {% endif %}
    </ul>
    <a href="#" class="search"></a>
    <a href="{% url 'basket:index' %}" class="basket">
        {% if user.is_authenticated %}
            <span>{{ user.basket_price|floatformat:0 }} ₽ ({{ user.basket_quantity }} шт)</span>
        {% endif %}
    </a>
</div>