{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <div class="h2 text-center head">
        Вход в систему
    </div>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Войти">
    </form>
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/"
       class="btn btn-round form-control">
        ВКонтакте
    </a>
    <a href="{% url 'auth:register' %}"
       class="btn btn-round form-control">
        Зарегистрироваться
    </a>

{% endblock %}
