{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}
    {% if request.resolver_match.url_name == 'user_update' %}
            <div class="h2 text-center head">Редактирование пользователя</div>>
    {% else %}
        <div class="h2 text-center head">Создание пользователя</div>>
    {% endif %}
    <div class="login">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if request.resolver_match.url_name == 'user_update' %}
                <input class="form-control" type="submit" value="сохранить">
            {% else %}
                <input class="form-control" type="submit" value="создать">
            {% endif %}
        </form>
        <a href="{% url 'adminapp:users_read' %}"
           class="btn btn-primary form-control last">
            к списку пользователей
        </a>
    </div>
{% endblock %}
