{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="users_list">
        {% for category in category_list %}
            <div class="user_record {% if not category.is_active %}not_active{% endif %}">
                <div class="user_role">
                    {% if category.is_active %}
                        <a href="{% url 'adminapp:category_delete' category.id %}"
                           class="btn btn-danger">
                            удалить
                        </a>
                        <a href="{% url 'adminapp:category_update' category.id %}"
                           class="btn btn-primary">
                            редактировать
                        </a>
                    {% else %}
                        <a href="{% url 'adminapp:category_delete' category.id %}"
                           class="btn btn-success">
                            восстановить
                        </a>
                    {% endif %}
                </div>
                <div class="user_name">
                    <p><strong>{{ category.name }}</strong></p>
                </div>
                <div>
                    {{ category.description }}
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'adminapp:category_create' %}" class="btn btn-success">
            новая категория
        </a>
    </div>
{% endblock %}